[submodule "boss"]
	path = boss
	url = git@gitlab.1jiajie.com:homeclean/ejj-homeclean-boss-ui.git
[submodule "restapi"]
	path = restapi
	url = git@gitlab.1jiajie.com:homeclean/ejj-homeclean-restapi.git
