	html,body,table,span,label {
		font-size: 15px;
		font-family: 'Source Sans Pro', sans-serif;
	}

	hr {
		margin:10px 0 20px 0;
		border-top: 1px solid #f6a202;
	}

	.details {
		font-size: 16px;
		margin-top: 15px;
		display: block;
	}

	table {
		width: 100%;
	}

	.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
		border: 1px solid #777;
		padding: 5px;
	}

	label { 
		vertical-align: middle !important; 
		font-weight: normal !important;
	}

	.text-left {text-align:left; }

	.mar-top {margin-top: 20px;}

	.yellow-text {
		color: #f6a202;
		margin-left:30px; 
	}

	.btn {
	    margin-left: 115px;
	    background: #f6a202;
	    text-align: center;
	    height: 32px;
	    line-height: 32px;
	    font-size: 14px;
	    padding: 0;
	    border-radius: 3px;
	    width: 180px;
	    color: #fff !important;
	}

	select {
		width: 100px;
		height: 20px;
	}

	ul {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    padding: 0 !important;
    color: #333 !important;
}