
.courseware-form {
	padding-bottom:150px;
	overflow:hidden;
}
#videoList {
	overflow:hidden;
}
.video-list-item {
	float:left;
	width:200px;
	padding:10px;
	text-align: center;
	list-style:none;
	height:180px;
	overflow:hidden;
}
.video-list-item.selected {
	color:#fff;
	background: #3a87ad;
}
.operation-panel{border:1px solid #ddd; padding:20px 10px;}
.closeCity{margin:0 0 0 10px; font-size: 14px; cursor: pointer;}
.closeCity:hover{color:#f00;}

.selectBox{width:800px;}
.selectContent{margin:0 -10px; padding:5px 10px; border:1px solid #ccc; display: block;}
.select{background:#ccc;}
.selectContent span{display:block; width:100%; overflow: hidden;}

.btnBox{margin:10px -10px 0 -10px;}